<ion-header>
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <h1>Photo Gallery</h1>
    <p>Explore our collection of beautiful images.</p>
    <div class="gallery">
      <ion-card *ngFor="let image of images">
        <img [src]="image.src" />
        <ion-card-header>
          <ion-card-title>{{image.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{image.description}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
