<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Share
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="share-container">
    <h1>Share on LinkedIn</h1>
    <form (submit)="shareOnLinkedIn()">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [(ngModel)]="postTitle" name="title" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Content</ion-label>
        <ion-textarea [(ngModel)]="postContent" name="content" required></ion-textarea>
      </ion-item>

      <ion-button expand="full" type="submit" color="primary">Share</ion-button>
    </form>
  </div>
</ion-content>
